<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
  	<title>買い物リスト</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<header class="sticky-top">
		<nav class="navbar bg-body-secondary mb-4">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="" alt="logo" class="d-inline-block align-text-top">
					買い物リスト
				</a>
				<div class="collapse navbar-collapse" id="Navbar">
					<form class="float-end" role="regist">
            			<button class="btn btn-outline-success" type="submit">品目登録</button>
          			</form>
				</div>
			</div>
		</nav>
	</header>
	<main class="container mb-5">
		<div class="description">
<!--		品目追加の場合は<b>品目登録ボタン</b>より登録してください。<br>
		品目内容を編集したい場合は<b>編集リンク</b>より編集してください。<br>
		リストを削除したい場合は<b>削除リンク</b>を押してください。<br>-->
		下記リスト商品を購入したら<strong>購入しました</strong>を押してください。
		</div>
		<div class="table-responsive">
			<table class="table text-nowrap table-striped table-bordered border-success-subtle itemtable">
				<tr class="table-success">
					<th class="tblelement1">品目名</th>
					<th class="tblelement2">カテゴリ</th>
					<th class="tblelement3">最終購入日</th>
					<th class="tblelement4">在庫切れ予測日</tth>
					<th class="tblelement5">購入ボタン</th>
					<th class="tblelement6">編集・削除リンク</th>
				</tr>
				<tr th:each="obj : ${list}">
					<td th:text=${obj.id}>aaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br></td>
					<td th:text=${obj.title}>bbbb</td>
					<td th:text=${obj.deadline}>cccc</td>
					<td th:text=${obj.taskType.type}>dddd</td>
					<td><input type="button" class="btn btn-danger rounded-pill" th:href="@{/task/{id}(id=${obj.id})}" value="購入しました"></input></td>
					<td>
					<input type="button"  class="btn btn-link" th:href="@{/task/{id}(id=${obj.id})}" value="編集"></input>
					<input type="button" class="btn btn-link" th:href="@{/task/{id}(id=${obj.id})}" value="削除"></input>
					</td>
				</tr>
				<tr th:each="obj : ${list}">
					<td th:text=${obj.id}>aaaa</td>
					<td th:text=${obj.title}>bbbb</td>
					<td th:text=${obj.deadline}>cccc</td>
					<td th:text=${obj.taskType.type}>dddd</td>
					<td><input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="購入しました"></input></td>
					<td>
					<input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="編集"></input>
					<input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="削除"></input>
					</td>
				</tr>
				<tr th:each="obj : ${list}">
					<td th:text=${obj.id}>aaaa</td>
					<td th:text=${obj.title}>bbbb</td>
					<td th:text=${obj.deadline}>cccc</td>
					<td th:text=${obj.taskType.type}>dddd</td>
					<td><input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="購入しました"></input></td>
					<td>
					<input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="編集"></input>
					<input type="button" th:href="@{/task/{id}(id=${obj.id})}" value="削除"></input>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<br>
		<p th:unless="${taskForm.newTask}"><a href="#" th:href="@{/task}">戻る</a></p>		
	</main>
	<footer class="footer mt-auto bg-body-secondary fixed-bottom">
		<div class="px-3">
			<p>Copyright (C) All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>